@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
body {
  color: #919191;
  font-family: Roboto, sans-serif;
  min-width: 1200px;
}
a,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}
.-green {
  color: #2ecc71;
}
.-text-bold {
  font-weight: bold;
}
.button {
  background: transparent;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 56px;
  padding-top: 5px;
  vertical-align: middle;
  padding-left: 37px;
  padding-right: 37px;
}
.h2,
.h3 {
  color: #566366;
  font-weight: bold;
}
.h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.description-item {
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 29px;
}
.centered-content {
  width: 100%;
  max-width: 1178px;
  margin: 0 auto;
}
.toggle-list {
  display: flex;
  justify-content: space-between;
}
.toggle-list .toggle-item {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 6px;
  width: 6px;
}
.toggle-list .toggle-item.current {
  background-color: #fff;
}
.information {
  max-width: 1025px;
  text-align: center;
}
.header {
  color: #fff;
  position: relative;
  height: 1000px;
  overflow: hidden;
}
.header .header-background {
  position: absolute;
}
.header .header-content {
  padding-top: 98px;
  position: relative;
  z-index: 3;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header-content .header-content-title {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  font-size: 59px;
  font-weight: bold;
  margin-bottom: 50px;
  height: 86px;
  padding-top: 6px;
  text-align-last: justify;
  width: 751px;
  vertical-align: middle;
}
.header .header-content .header-content-action {
  border-color: #fff;
  color: #fff;
}
.header .slider-controls {
  left: 1379px;
  position: absolute;
  top: 889px;
  z-index: 4;
}
.header .toggle-list {
  align-self: flex-end;
  flex-direction: column;
}
.header .toggle-item {
  margin-bottom: 10px;
}
.header .toggle-item:last-child {
  margin-bottom: 0;
}
.slide-list .slide-item {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}
.slide-list .slide-item.current {
  opacity: 1;
  z-index: 2;
}
.toolbar {
  align-items: center;
  background-color: #252e30;
  color: #fff;
  display: flex;
  height: 70px;
}
.toolbar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.toolbar-content .logo {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
}
.toolbar-content .logo-avatar {
  align-items: center;
  background-color: #4b5456;
  display: flex;
  justify-content: center;
  height: 42px;
  margin-right: 17px;
  text-align: center;
  width: 42px;
}
.toolbar-content .nav-list {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  width: 770px;
}
.toolbar-content .nav-list .nav-item {
  font-weight: bold;
}
.toolbar-content .nav-list .nav-item:hover {
  color: #2ecc71;
}
#goals {
  display: flex;
  justify-content: space-between;
}
#goals .goal-item {
  margin-bottom: 60px;
  margin-top: 92px;
  width: 357px;
}
#about-me {
  background-color: #f2f2f1;
  display: flex;
}
#about-me .photo {
  height: 755px;
  margin-right: 100px;
  overflow: hidden;
  width: 610px;
}
#about-me .about-me {
  padding-top: 94px;
  width: 680px;
}
#about-me .about-me-title {
  margin-bottom: 36px;
}
#about-me .about-me-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about-me .about-me-content .content-item {
  flex-shrink: 0;
  margin-bottom: 16px;
  width: 317px;
  display: flex;
}
#about-me .about-me-content .content-item-icon {
  flex-shrink: 0;
  width: 40px;
}
#about-me .about-me-content .content-item-icon {
  background-position: 0 2px;
  background-repeat: no-repeat;
  margin-right: 28px;
}
#about-me .about-me-content .web-design {
  background-image: url("../img/about-me-icons/web-design.png");
}
#about-me .about-me-content .graphic-design {
  background-image: url("../img/about-me-icons/graphic-design.png");
}
#about-me .about-me-content .online-marketing {
  background-image: url("../img/about-me-icons/online-marketing.png");
}
#about-me .about-me-content .seo {
  background-image: url("../img/about-me-icons/seo.png");
}
#skills {
  padding-top: 91px;
  padding-bottom: 66px;
  display: flex;
}
#skills .skills-description {
  width: 550px;
  margin-right: 75px;
}
#skills .skills-description .contact-me {
  margin-top: 11px;
}
#skills .skills-graphs {
  margin-top: 40px;
}
#skills .skills-graphs-item {
  margin-bottom: 34px;
}
#skills .skill-diagram-container {
  background-color: #f2f2f1;
  width: 560px;
  height: 30px;
}
#skills .skill-diagram-progress {
  height: 30px;
  color: #fff;
  background-color: #2ecc71;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
}
#skills .skill-diagram-progress.photoshop {
  width: 519px;
}
#skills .skill-diagram-progress.illustrator {
  width: 476px;
}
#skills .skill-diagram-progress.html-css {
  width: 519px;
}
#skills .skill-diagram-progress.php-mysql {
  width: 358px;
}
#resume {
  background-color: #f2f2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 95px;
  position: relative;
}
#resume:after {
  content: '';
  position: absolute;
  border: 30px solid transparent;
  border-top: 20px solid #f2f2f1;
  bottom: -49px;
}
#resume .download-resume {
  margin-top: 10px;
  margin-bottom: 5px;
}
#testimonials .testimonial-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 27px;
  padding-top: 95px;
}
#testimonials .testimonial-item:last-child {
  border: none;
}
#testimonials .testimonial-content {
  display: flex;
  justify-content: space-between;
}
#testimonials .testimonials {
  width: 555px;
}
#testimonials .testimonial-content-description {
  width: 565px;
}
#testimonials .testimonial-title {
  font-size: 18px;
}
#testimonials .testimonial-level {
  background-color: #2ecc71;
  color: #fff;
  display: inline-block;
}
#testimonials .testimonial-description {
  border-top: 1px solid #ccc;
  padding-top: 22px;
  padding-bottom: 63px;
}
#testimonials .testimonial-level {
  margin-top: 14px;
  padding: 5px 10px;
  margin-bottom: 30px;
}
#quotes {
  background-color: #f2f2f1;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 255px;
  position: relative;
}
#quotes .quotes-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quotes .quotes-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 90px;
  width: 1070px;
  left: calc(50% - 535px);
}
#quotes .slider-item-quote {
  text-align: center;
  min-height: 146px;
  font-size: 24px;
  line-height: 1.5;
  font-style: italic;
}
#quotes .quotes-slider-content {
  margin-bottom: 46px;
}
#quotes .slider-item-author {
  font-size: 18px;
}
#quotes .toggle-list {
  flex-direction: row;
}
#quotes .toggle-list .toggle-item {
  margin-right: 10px;
  border: 2px solid #2ecc71;
}
#quotes .toggle-list .toggle-item.current {
  background-color: #2ecc71;
}
#quotes .toggle-list .toggle-item:last-child {
  margin-right: 0;
}
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  margin-bottom: 60px;
}
#portfolio .portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
#portfolio .portfolio-item {
  display: block;
  height: 300px;
  width: 360px;
  margin-bottom: 40px;
  position: relative;
}
#portfolio .portfolio-item:hover .portfolio-item-link {
  display: block;
}
#portfolio .portfolio-item-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(46,204,113,0.75);
  height: 300px;
  width: 360px;
}
#portfolio .portfolio-item-icon {
  position: absolute;
  top: 130px;
  left: 152px;
  font-size: 50px;
}
#contact-me {
  background-color: #252e30;
  color: #fff;
  padding-top: 95px;
  padding-bottom: 100px;
}
#contact-me .contact-me-header {
  color: #fff;
  margin-bottom: 0;
}
#contact-me .contact-me-content {
  display: flex;
  justify-content: space-between;
  color: #7a7c7c;
  font-size: 18px;
  line-height: 1.7;
}
#contact-me .contact-me-content .contact-information {
  width: 550px;
  margin-top: 35px;
}
#contact-me .contact-description,
#contact-me .contact-address {
  margin-bottom: 25px;
}
#contact-me .email-phone-item {
  display: flex;
  justify-content: space-between;
  width: 223px;
}
#contact-me .email-phone-item .email-phone-item-desc {
  color: #fff;
}
#contact-me .contact-form {
  display: flex;
  flex-direction: column;
  width: 540px;
}
#contact-me .contact-form .contact-form-label {
  color: #fff;
  margin-bottom: 13px;
}
#contact-me .contact-form .contact-form-field {
  box-sizing: border-box;
  height: 55px;
  margin-bottom: 30px;
}
#contact-me .contact-form .contact-form-field.message-field {
  height: 280px;
}
#contact-me .contact-form-button {
  background: #000;
  border: none;
  color: #fff;
  margin-top: 10px;
}
